* {
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden; /* 禁止滚动 */
  touch-action: none; /* 禁止手势滚动/缩放（部分浏览器） */
  overscroll-behavior: none; /* 防止滚动穿透 / 拖拽刷新（非 iOS Safari） */
}

body {
  background-color: black;
  color: white;
  margin: 0;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 1px;
}

select {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.06);
  }

  & option {
    background: black;
    color: white;
  }
}

// /* Scene header layout and select override */
// .scene-header {
//   display: flex;
//   //   justify-content: space-between;
//   gap: 10px;
//   align-items: baseline;
// }

.App {
  width: 100vw;
  height: 100vh;
  border: 2px solid white;
}
